*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{ 
    background:#1A1E23;
    font-family: 'Montserrat';
}
.main{
    canvas{
        display:block;
      }
      
      svg{
          width: 500px;
          height: 500px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .draw{
              stroke-width: 4px;
              fill: #1A1E23;
              stroke-dasharray: 6200;
              stroke-dashoffset: 6200;
              animation: animate 6s linear;
              animation-fill-mode: both;
          }
      }
      @keyframes animate{
        to{
            stroke-dashoffset: 2000;   
        }
        from{
            fill: #1A1E23;
        }
    }

    &_menu{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        .menu{
            &__list{
                list-style: none;
               &-link{
                text-decoration: none;
                color: #f6f6f6;
                font-size: 5em; 
                font-weight: 100;
                letter-spacing: -5px;
                opacity: .3;
                
                &:hover{
                    font-size: 5.5em;
                    transition: .5s;
                    
                    opacity: 1;
                }
               }
            }
        }
    }
}

#particles-js{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }


