* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  background: #121212; }

canvas {
  display: block; }

svg {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

svg .draw {
  stroke-width: 4px;
  fill: #121212;
  stroke-dasharray: 6200;
  stroke-dashoffset: 6200;
  -webkit-animation: animate 6s linear;
          animation: animate 6s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

#particles-js {
  width: 100%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1; }

@-webkit-keyframes animate {
  to {
    stroke-dashoffset: 3500; }
  from {
    fill: #121212; } }

@keyframes animate {
  to {
    stroke-dashoffset: 3500; }
  from {
    fill: #121212; } }
